
// $tag-single: red;
// $tag-multi: purple;
// $tag-trick: blue;
// $tag-social: grey;
// $tag-betting: green;
// $tag-solitaire: orange;
// $tag-deception: yellow;

:global{
  body {
    background-color: green;
    margin: 0 auto;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  nav a#home-link{
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  nav img#settings{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    margin: auto 0.5rem;
    width: 2.5rem;
  }

  .sr-only{
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }
}
